<!DOCTYPE HTML>
<html lang="zh-Hans">
<!--
	This is my personal home page!
	For more copyright information, see: https://www.gehaowu.com/copyright/
-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Welcome to Ren Xiaoxi&apos;s Personal Homepage!</title>
		<meta name="author" content="" />
		<meta name="description" content="Welcome to Ren Xiaoxi&apos;s Personal Homepage!" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="minimal-ui,width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
		<meta name="renderer" content="webkit|ie-comp|ie-stand" />
		<style type="text/css" rel="stylesheet">.preload {display: none;}</style>
		<link type="text/css" href="/static/css/style.css" rel="stylesheet" />
		<link type="image/x-icon" href="/static/images/favicon.ico" rel="shortcut icon" />
	</head>
	<body class="loading" onload="_onload()">
		<div class="preload">
			<img src="/static/images/bg.jpg" alt="">
			<img src="/static/images/overlay-pattern.png" alt="">
			<img src="/static/images/overlay.svg" alt="">
			<img src="/static/images/camera.svg" alt="">
			<img src="/static/images/user.svg" alt="">
			<img src="/static/images/wordpress.svg" alt="">
		</div>
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">
					<header id="header">
						<h1>任&nbsp;&nbsp;晓&nbsp;&nbsp;曦</h1>
					<p>Welcome to Ren Xiaoxi&apos;s Personal Homepage!</p>
					<p>Hey, it&apos;s my Life!</p>
						<nav>
							<ul>
								<li><a href="albums/" class="icons camera"><span>I Album</span></a></li>
								<li><a href="#/" class="icons user"><span>About Me</span></a></li>
								<li><a href="note/" class="icons edit"><span>I Notes</span></a></li>
							</ul>
						</nav>
					</header>
					<footer id="footer">
					<p><span id="beian"><a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">备案号-1</a></span></p>
					<p><span id="copyright">Copyright &copy; 2011 - 2015 . All rights reserved.</span></p>
					</footer>
			</div>
		</div>
		<script type="text/javascript">
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
			function _onload() {
				document.body.className = '';
				var _hmt = _hmt || [];
				var hm = document.createElement("script");
				hm.type = "text/javascript";
				hm.src = "//hm.baidu.com/hm.js?2f0f4b0d867163a00886350ad2c21f8c";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);

			}
		</script>
	</body>
</html>