
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="lmintlcx">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="https://www.lmintlcx.com">
    <title>lmintlcx</title>
 
    <style type="text/css" media="screen">
    body {
        font-size: 14px;
    }
    </style>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?3440506fa270295d35a712b251f1150b";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56978333-2', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body>
<div id="wrapper">

<ul>
<li>这个创意是从<a href="https://zh.wikipedia.org/wiki/Wikipedia:%E7%94%A8%E6%88%B6%E6%A1%86" target="_blank" rel="external">别人那里</a>抄来的. </li>
<li>以下所有的”该用户”都是指“<a href="#" target="_blank" rel="external">本宝宝</a>“. </li>
<li>该用户不是吃货, 请不要和他讨论吃的. </li>
<li>RX是该用户在族谱上的名字. </li>
<li>该用户可以在40秒内通关一盘中级扫雷. 对于高级扫雷, 这个时间是2分20秒.</li>
<li>该用户手机上面运行的软件基本是正版. </li>
<li>该用户知道0.999999…和1是相等的. </li>
<li>该用户是晕地铁症患者. </li>
<li>该用户的第一任偶像是 Beyond. </li>
<li>该用户的第一个梦想是做抗日战士战死沙场. 并且是倒在女战士的怀里.</li>
<li>该用户不会玩dota类游戏. 但坚持认为LOL是款垃圾游戏. </li>
<li>该用户打CS名叫unnamed. 并习惯拿大狙冲锋.</li>
<li>该用户认为<a href="https://www.tamchunho.com/" target="_blank" rel="external">小正太</a>是世界上最好看的东西. </li>
<li>该用户认为世界上最可怕的东西是熵增定律.</li>
<li>该用户的电脑从来不装杀毒软件. </li>
<li>该用户使用 Sublime Text 3 来编辑文本文件. </li>
<li>该用户痛恨汉语配音的外语影视作品. </li>
<li>该用户认为逼格就是中英文混排时留空的那一格. </li>
<li>该用户并不知道自己生活在母体之中. </li>
<li>该用户使用Baidu检测是否断网. </li>
<li>该用户使用 Shadowsocks 科学上网. </li>
<li>该用户经常控制不住体内的洪荒之力和焚寂煞气. </li>
<li>该用户的诞生符合孟德尔遗传定律. </li>
<li>该用户使用 Chrome 来浏览网页.</li>
<li>该用户在历史, 政治, 经济, 军事, 文化方面都是白痴. </li>
<li>该用户是拖延癌晚期. </li>
<li>该用户能背诵圆周率小数点后100位. </li>
<li>该用户认为传统中医学并不科学. </li>
<li>该用户目前是高中学历. </li>
<li>该用户希望在其有生之年能目睹一次大规模撞击事件. </li>
<li>该用户认为地球任何一处, 甚至火星也是朝鲜的. </li>
<li>该用户认为 CyanogenMod 是最好的安卓 ROM.</li>
<li>该用户使用 Ubuntu 作为服务器操作系统. </li>
<li>该用户使用 Windows 作为本地实体机操作系统. </li>
<li>该用户使用的 Nginx 作为本站的网页服务器. </li>
<li>该用户使用 Qt 来编写桌面应用. </li>
<li>该用户使用电子邮箱 lmintlcx@gmail.com. </li>
<li>该用户使用腾讯 QQ, 账号为 lcx@lmintlcx.com.</li>
<li>该用户的 Twitter ID 是 @lmintlcx. </li>
<li>该用户用户有自己的 Blog：<a href="https://www.lmintlcx.com" target="_blank" rel="external">lmintlcx</a>. </li>
<li>该用户在<a href="http://www.zhihu.com/people/lmintlcx" target="_blank" rel="external">知乎</a>上发现更大的世界. </li>
<li>该用户熟练使用多个平台, 会自己组装台式机, 安装OS, 手动杀毒, 编写一般的程序.  </li>
<li>该用户并不是程序员. </li>
<li>该用户正站在你的身后. </li>
<li>该用户喜欢逛V2EX, 维基百科. </li>
<li>该用户十分不擅长与人交流. </li>
<li>该用户认为 e^(i*pi)+1=0 是最美的数学公式. </li>
<li>该用户会一点简单的 How To Make Love 语言. </li>
<li>该用户喜欢<span style="color:purple;">紫色</span>, <span style="color:blue;">蓝色</span>和<span style="color:green;">绿色</span>. </li>
<li>该用户加了<del>霸王</del>特技，头发和成龙一样<span style="text-decoration:line-through;">乌黑浓密</span>。</li>
<li>该用户信奉睡教. </li>
<li>这条描述的内容是在说谎. </li>
<li>该用户静待三体降临地球. 主不在乎!</li>
<li><span style="color:white;">该用户就是不想被你看到这条描述的内容. </span></li>
<li>该用户是一个好人. </li>
<li>该用户所有言论均系随意敲击键盘锻炼手指所致, 对其涵义和潜台词任何人应概不知晓. </li>
<li>编写这个列表已费掉该用户很多时间, 并因此损害了这个用户的身心健康. </li>
</ul>

</div>
</body>
</html>